@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

table {
  border-spacing: 0px;
  width: 100%;
}

#main {
  #sidebar {
    width: 200px;
    height: 100vh;
    background-color: variables.$backgroundSidebar;
  }

  .content {
    .main-header{
        background-color: variables.$backgroun
    }
  }
}
