@use "./variables";

@mixin boxShadow() {
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 14px !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

a {}

table {
  border-spacing: 0px;
  width: 100%;
}

.font-14 {
  font-size: 14px !important;
}

#main {
  margin: 0;

  #sidebar {
    width: 200px;
    height: 100vh;
    background-color: variables.$backgroundSidebar;
  }

  #content {
    width: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;

    .main-header {
      background-color: variables.$backgroundContent;
      padding: 16px;
      border-bottom: 1px solid variables.$borderColor;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .main-content {
      padding: 6px 0;
      margin: 0;

      .nav {
        padding: 0;

        .team {
          width: 210px;
          box-shadow: 0px 0px 0px 1px #e2e2e2;
          border-radius: 0;
          position: sticky;
          top: 50px;
        }
      }

      .content {
        padding: 0;

        .content-right {

          .title-content {
            padding: 0;
            @include boxShadow;

            .dropdown-content{
              width: 8rem;
            }
          }
        }
      }
    }
  }
}
