@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.font-14{
    font-size: 14px !important;
}

#main {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

  #sidebar {
    width: 200px;
    height: 100vh;
    background-color: variables.$backgroundSidebar;
  }

  #content {
    width: calc(100% - 200px);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .main-header{
        background-color: variables.$backgroundContent;
        padding: 10px 16px;
        border-bottom: 1px solid variables.$borderColor;
        position: sticky;
        top: 0;
        z-index: 1;

        ul {
            li{
                
            }
        }
    }
  }
}
