@use "./variables";

@mixin boxShadow() {
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

html {
  overflow-y: hidden !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.click {
  cursor: pointer !important;
}

.is-active {
  display: block !important;
}

.is-display-none {
  display: none !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-13 {
  font-size: 13px !important;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown:hover {
  cursor: pointer;
}

#main {
  margin: 0;

  #sidebar {
    width: 200px;
    height: 100vh;
    background-color: variables.$backgroundSidebar;
  }

  #plan-content {
    width: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;

    .main-header {
      background-color: variables.$backgroundContent;
      padding: 16px;
      border-bottom: 1px solid variables.$borderColor;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .main-content {
      padding: 6px 0;
      margin: 0;

      .nav {
        padding: 0;

        .team {
          @include boxShadow;
          width: 210px;
          position: sticky;
          top: 50px;
        }

        
      }

      .content {
        padding: 0;

        .content-right {
          .title-content {
            padding: 0;
            @include boxShadow;

            .dropdown-content {
              width: 8rem;
            }
          }

          .detail-content {
            @include boxShadow;
            width: 100%;
            li {
              height: 34px;
              display: flex;
              align-items: center;
            }

            .main-plan-content {
              height: calc(100vh - 250px);
              overflow-y: auto;
              position: relative;

              .image {
                margin-right: -7px;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 3px #e1e1e1;
              }

              .plan-detail-content {
                ul {
                  border-top: 1px solid #ecf0ff;
                }
                .sub-content {
                  display: none;
                  // li:first-child{
                  //   padding-left: 70px !important;
                  // }
                }
              }

              .sticky {
                position: sticky !important;
                top: 0;
                background-color: white;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
