@use "./variables";

#sidebar {
  width: 200px;
  height: 100vh;
  background-color: variables.$backgroundSidebar;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

table {
  border-spacing: 0px;
  width: 100%;
}


