* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: 0.3s  ; */
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
}

.blue-text {
  color: #355caa;
}

.white-text {
  color: #ddd;
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-small {
  font-weight: 350;
}

.icon-color {
  color: #e5bf54;
}

.img-64x64 {
  height: 64px;
  width: 64px;
}

.img-24x24 {
  height: 24px;
  width: 24px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* -------header----- */
.header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  /* border-radius: 5px; */
}

.header .header-info {
  padding: 0.75rem;
}

.header .avatar img {
  border-radius: 50%;
}

.header .header-info li {
  display: inline-block;
  list-style-type: none;
}

.header .notification {
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-basis: calc(100% / 5);
}

.header .notification li {
  display: inline;
  list-style-type: none;
  align-self: center;
}

.header .name span {
  font-weight: 500;
  display: table;
  padding-left: 0.75rem;
}

/* .header .header-info .notification{

} */

.header .header-info .notification li {
  display: inline-block;
}

/* -------sidebar----- */
.sidebar {
  background-color: #585c7d;
  width: 200px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;

  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.sidebar .logo-details {
  position: relative;
  height: 60px;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
}

.sidebar .logo-details i {
  font-size: 25px;
  padding: 8px 10px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details i:hover {
  background-color: #60688e;
  cursor: pointer;
}

.sidebar .logo-details .logo-name {
  font-size: 13px;
  color: white;
  margin-left: auto;
}

.sidebar .logo-details .logo-name i {
  padding: 0 0.25rem 0 0;
  font-size: 10px;
  align-items: center;
  color: white;
}

.sidebar .logo-details .sub-menu {
  position: absolute;
  top: 3rem;
  left: 4rem;
  padding: 0.75rem;
  border-radius: 5px;
  display: none;

  background-color: white;
  color: #7a7c92;
}

.sidebar .logo-details .sub-menu li {
  padding: 0.25rem;
  list-style: none;
}

.sidebar .nav-links {
  padding: 0 0.5rem;
  height: calc(100vh - 6rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .nav-links li {
  padding: 0 14px;
  margin: -10px 0;
  /* transition: all 0.3s ease; */
}

.sidebar .nav-links li:hover .icon-links {
  border-radius: 5px;
  cursor: pointer;
  background-color: #60688e;
}

.sidebar .nav-links li li:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #60688e;
}

.sidebar .nav-links a {
  padding: 0 0.75rem;
  text-decoration: none;
}

.sidebar .nav-links i {
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 50px;
  max-width: 15px;
}

.sidebar .nav-links .link-name {
  padding-left: 1rem;
  color: white;
  display: inline-block;
}

.sidebar .nav-links .icon-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links .icon-links a {
  padding: 0;
}

.sidebar .course-sub-menu,
.sidebar .gift-sub-menu,
.sidebar .CFRs-sub-menu,
.sidebar .OKRs-sub-menu,
.sidebar .sub-menu {
  display: none;
  transition: 0.3s;
  padding: 0.5rem 1.5rem;
  list-style: none;
  padding-left: 1.25rem;

  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar .nav-links li li {
  margin: 0.25rem 0;
  padding: 0.25rem;
}

.sidebar .nav-links a {
  color: white;
  font-size: 13px;
  white-space: nowrap;
}

.sidebar .course-sub-menu,
.sidebar .gift-sub-menu,
.sidebar .CFRs-sub-menu,
.sidebar .OKRs-sub-menu {
  left: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.sidebar .sign-out {
  position: absolute;
  bottom: 0.5rem;
  list-style: none;
  height: 2rem;
}

.sidebar .sign-out a {
  color: white;
  text-decoration: none;
  padding-left: 1.375rem;
}

.sidebar .sign-out span {
  margin-left: 0.75rem;
}


/* -------sidebar-small------- */
.sidebar-small {
  background-color: #585c7d;
  width: 60px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
}

.sidebar-small .logo-details {
  position: relative;
  height: 60px;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
}

.sidebar-small .logo-details i {
  font-size: 25px;
  padding: 8px 10px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.sidebar-small .logo-details .logo-name,.sub-menu{
  display: none;
}

.sidebar-small .logo-details i:hover {
  background-color: #60688e;
  cursor: pointer;
}

.sidebar-small .logo-details .logo-name {
  font-size: 13px;
  color: white;
  margin-left: auto;
}

.sidebar-small .logo-details .logo-name i {
  padding: 0 0.25rem 0 0;
  font-size: 10px;
  align-items: center;
  color: white;
}

.sidebar-small .nav-links li{
  position: relative;
}

.sidebar-small .nav-links i {
  /* overflow-x: hidden;
  overflow-y: hidden; */
  color: white;
  width: 100%;
}

.sidebar-small .nav-links .icon-links{
  position: relative;
  justify-content: center;
  display: flex;
  padding: 0.875rem 0;
}

.sidebar-small .nav-links .fa-caret-right, .fa-right-from-bracket{
  display: none;
}

.sidebar-small .link-name {
  position: absolute;
  white-space: nowrap;
  left: 4.5rem;
  top: 10px;
  padding: 5px 16px;
  border-radius: 5px;
  background-color: #355caa;
  color: white;
  font-weight: 600;
  display: none;
}
.sidebar-small .nav-links .icon-links:hover .link-name{
  display: inline;
}

.sidebar-small .nav-links li:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #60688e;
}

.sidebar-small .course-sub-menu,
.gift-sub-menu,
.CFRs-sub-menu,
.OKRs-sub-menu{
  /* display: blockx; */
  /* white-space: nowrap;
  position: absolute;
  top: 10px;
  background-color: #60688e; */
}

/* .sidebar-small .course-sub-menu,.gift-sub-menu,.CFRs-sub-menu,.OKRs-sub-menu{
  display: block;
} */

/* ----------content--------- */
.main > .content {
  flex: 1;
  background-color: #fbfbfb;
  transition: 0.3s;
  padding-left: 200px;
}

.content .title-top {
  display: flex;
  width: 100%;
  list-style: none;
}

.content .title-top .title-right {
  flex: 1;
}
/* 
.content .title-top .title-right .info-user {
} */

.title-right .info-user .card-content {
  margin: 0.75rem;
  display: flex;

  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  margin-bottom: 1.5rem;
}

.title-right .info-user .img-avatar {
  flex: 1;
  padding: 1.5rem;
}

.title-right .info-user .img-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: #e2e2e2;
}

.title-right .info-user .info-content {
  flex: 3;
  padding: 0.75rem;
}

.title-right .info-user .info-content h2 {
  padding-top: 0.75rem;
  font-size: 20px;
  font-weight: 700;
}

.title-right .info-user .info-content p {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0.25rem;
  line-height: 21px;
}

.title-right .result {
  display: flex;
  padding: 0 0.75rem;
  /* justify-content: space-evenly; */
}

.title-right .result li {
  border-radius: 10px;
  list-style: none;
  flex-basis: calc(100% / 3);
}

.title-right .result .card {
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
  padding: 0.5rem;
}

.title-right .result li:nth-of-type(1) {
  margin-right: 0.5rem;
}

.title-right .result li:nth-of-type(2) {
  margin: 0 0.5rem;
}

.title-right .result li:nth-of-type(3) {
  margin-left: 0.5rem;
}

.title-right .result li p {
  text-align: center;
}

.title-right .result li p:nth-of-type(1) {
  padding: 9px 20px;
  font-weight: 700;
  font-size: 20px;
}

.title-right .result li p:nth-of-type(2) {
  font-weight: 350;
}

.title-right .advice {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  margin-top: 1.5rem;
}

.title-right .advice .content {
  padding-left: 0.75rem;
}

.title-right .advice .author {
  color: #828e97;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ----------top-left------------ */
.title-left {
  flex: 1;
}

.title-left .card {
  padding: 0.75rem;
}

.title-left .card .card-content {
  padding: 1.5rem;
  min-height: 25rem;

  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
}

.title-left .card .card-content h2 {
  color: #585c7d;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.title-left table {
  width: 100%;
}

.title-left table tr {
  background-color: #f1f7f7;
}

.title-left table td:nth-of-type(1) {
  padding: 1rem;
  width: 96px;
}

.title-left table img {
  border-radius: 10px;
}
.title-left tr td:nth-of-type(2) {
  padding: 1rem 0;
}
.title-left tr td:nth-of-type(3) {
  padding: 1rem;
  width: 120px;
}

.title-left .card .card-content .title {
  color: #5c6669;
}

.title-left .card .card-content .range {
  display: flex;
  font-weight: 600;
  align-items: center;
}

.title-left .card-content .range .complete {
  width: 57%;
  background-color: #65bca0;
  height: 3px;
}

.title-left .card-content .range .no-complete {
  width: 43%;
  background-color: #ededed;
  height: 3px;
}

.title-left .card .card-content .range p:nth-of-type(3) {
  padding-left: 1.5rem;
}

.title-left .card .card-content .author-time {
  display: flex;
}

.title-left .card-content .author-time .time,
.author {
  margin: -0.25rem 0.5rem;
  font-weight: 400;
}

.title-left .card .card-content .author-time span {
  position: inherit;
}

.title-left .card .card-content button {
  align-items: center;
  background-color: #355caa;
  color: white;
  padding: 0.25rem;
  width: 100%;
  font-size: 12px;
  font-weight: 300;

  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 5px;
  border: none;
}

.title-left .card .card-content button span {
  margin-right: 10px;
}

/* -----------khoá học nổi bật----- */
.content .feature-course {
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 5px;
  margin: 0.75rem;
}

.feature-course .card {
  padding: 0.75rem;
}

.feature-course .card .title {
  color: #585c7d;
  padding: 0.75rem;
}

.feature-course .course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.feature-course .course-list .course-item {
  flex-basis: calc(100% / 5);
  list-style: none;
  padding: 0.75rem;
}

.feature-course .course-item .course-card {
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 5px;
}

.feature-course .course-item .card-image {
  width: 100%;
  height: 130px;
}

.feature-course .course-item .card-image img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
}

.feature-course .course-item .course-content {
  padding: 0 0.5rem 1.5rem 0.5rem;
}

.feature-course .course-content .author {
  margin: 0;
}

.feature-course .course-content .author .avatar {
  display: flex;
  margin-top: -8px;
  align-content: center;
  margin-bottom: 0.75rem;
}

.feature-course .course-content .author img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.feature-course .course-content .author .name {
  flex: 1;
  color: #355caa;
  font-weight: 600;
  font-size: 14px;
  max-width: 130px;
  margin-left: 0.25rem;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.feature-course .course-content .author i {
  align-self: center;
  color: #355caa;
  margin-left: 1.25rem;
}

.feature-course .course-content .title {
  line-height: 21px;
  font-weight: 600;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
}

.feature-course .course-content .content .card-course-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

.feature-course .course-content .content .card-course-content li {
  flex-basis: calc(100% / 2);
  margin: 0.5rem 0;
  font-size: 12px;
  font-weight: 300;
}

.feature-course .content .card-course-content li:nth-child(even) {
  padding-left: 0.5rem;
}

.feature-course .card .load-more {
  color: #355caa;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

/* -----danh mục khoá học----- */

.course-category {
  margin: 0.75rem 0;
}

.course-category .title {
  color: #585c7d;
  padding: 0.75rem;
}

.course-category .category {
  display: flex;
}

.category .category-list {
  flex-basis: calc(100% / 12 * 7);
}

.category .category-list .title-list {
  display: flex;
  flex-wrap: wrap;
}

.category .category-list .title-list .title-item {
  width: calc(100% / 3);
  list-style: none;
  padding: 0.75rem;
}

.category .category-list .title-list .title-item .category-card {
  background-color: #f1f7f7;
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.category .title-list .title-item .category-card h5 {
  padding-top: 0.25rem;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #7e7a7a;
}

.category .category-detail {
  margin: 0.75rem;
  flex-basis: calc(100% / 12 * 5);
  box-shadow: 0px 0px 0px 1px #e2e2e2;
  border-radius: 10px;
}

.category .category-detail .card {
  padding: 1.5rem;
}

.category .category-detail .card .title {
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 1.5rem;
  padding: 0;
}

.category .category-detail .card table {
  width: 100%;
}

.category .category-detail td {
  padding: 1.5rem 0.75rem;
}

.category .category-detail .card-item {
  border-radius: 20px;
}

.category .category-detail .card tr:nth-child(odd) {
  background-color: #f1f7f7;
}

.category .category-detail .course-directory-item {
  display: flex;
}

.category .category-detail td:nth-of-type(2) {
  padding: 0;
}

.category .category-detail .full-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 350px;
  color: #7e7a7a;
  font-weight: 600;
}

.category .category-detail .course-directory-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-top: 0.5rem;
  list-style: none;
}

.category .category-detail .course-directory-item li {
  width: 50%;
  padding: 0.5rem 0.25rem;

  font-size: 12px;
  font-weight: 350;
}

.category .category-detail .scroll-table {
  width: 100%;
  height: 400px;
  overflow: auto;
}
